* {
  margin: none;
  padding: none;
  text-decoration: none;
}


body {
  background-image: url('./hexagon.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card {
  background-color: white;
  height: 300px;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  display: flex;
  justify-content: center;
}
.avatar {
  width: 40%;
  height: 40%;
  background-image: url("./avatar.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  transform: translateY(50px);
}

